configs:
  cm:
    admin.enabled: true
    exec.enabled: true
    timeout.reconciliation: 15s
    url: https://argocd-oci.wafflestudio.com
    dex.config: |
      connectors:
      - type: github
        id: github
        name: GitHub
        config:
          clientID: Ov23linI41QdwlV1zULW
          clientSecret: $dex.github.clientSecret
          orgs:
          - name: wafflestudio
  params:
    server.insecure: true
  rbac:
    policy.csv: |
      g, wafflestudio:waffle-k8s-admin, role:waffle-k8s-admin
      p, role:waffle-k8s-admin, applications, *, */*, allow
      p, role:waffle-k8s-admin, clusters, get, *, allow
      p, role:waffle-k8s-admin, repositories, get, *, allow
      p, role:waffle-k8s-admin, repositories, create, *, allow
      p, role:waffle-k8s-admin, repositories, update, *, allow
      p, role:waffle-k8s-admin, repositories, delete, *, allow
      p, role:waffle-k8s-admin, exec, create, */*, allow
    policy.default: role:readonly

dex:
  enabled: true
  resources:
    limits:
      cpu: 50m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi

applicationSet:
  resources:
    limits:
      cpu: 100m
      memory: 64Mi
    requests:
      cpu: 50m
      memory: 64Mi

controller:
  resources:
    limits:
      cpu: 500m
      memory: 2Gi
    requests:
      cpu: 100m
      memory: 512Mi

notifications:
  cm:
    service.webhook.pupuri-bot: |
      url: https://pupuri-api.wafflestudio.com/argocd/webhook-endpoint
      method: POST
      headers:
        - name: Content-Type
          value: application/json
    templates.sync-completed: |-
      {"namespace":"{{.app.metadata.namespace}}","app":"{{.app.metadata.name}}"}
    triggers.sync-completed: |-
      - description: Application sync completed
        oncePer: app
        when: app.status.operationState.phase in ['Succeeded']
        send:
          - webhook:pupuri-bot
    subscriptions.sync-completed: |-
      recipients:
        - pupuri-bot
    controller.disableAnnotations: "true"
  resources:
    limits:
      cpu: 100m
      memory: 64Mi
    requests:
      cpu: 50m
      memory: 64Mi

redis:
  resources:
    limits:
      cpu: 200m
      memory: 64Mi
    requests:
      cpu: 100m
      memory: 64Mi

repoServer:
  resources:
    limits:
      cpu: 200m
      memory: 512Mi
    requests:
      cpu: 10m
      memory: 128Mi

server:
  resources:
    limits:
      cpu: 100m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 128Mi
